main{
    width: 100%;
    display: flex !important;
    flex-wrap: wrap !important;
    @media(max-width:991px){
        flex-direction: column;
        section{
            article{
                margin-top: 100px;
            }
        }
    }
    @media(min-width: 992px){
        flex-direction: row;
    }
    section{
        width: 90%;
        article{
            height: 150px;
            h2{
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}